<h1>Bankrupt</h1>

<form action="/accounts" method="post">
  <label>
    <span>Usuario:</span>
    <input type="text" name="username"/>
  </label>
  <label>
    <span>Password:</span>
    <input type="password" name="password"/>
  </label>
  <input type="submit" value="Get info!"/>
</form>

<form action="/accounts" method="post">
  <label>
    <span>Empresa:</span>
    <input type="text" name="company"/>
  </label>
  <label>
    <span>Password:</span>
    <input type="password" name="company_password"/>
  </label>

  <label>
    <span>Usuario:</span>
    <input type="text" name="username"/>
  </label>
  <label>
    <span>Password:</span>
    <input type="password" name="password"/>
  </label>
  <input type="submit" value="Get company info"/>
</form>
