<form action="/accounts" method="post">
  <label>Account Number:
    <input type="text" name="username"/>
  </label>
  <label>Password:
    <input type="password" name="password"/>
  </label>
  <input type="submit" value="Connect!"/>
</form>
