<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Bankrupt</title>

  <style type="text/css">
    span {
      width: 200px;
      display: block
    }

    form {
      padding: 10px;
      margin: 10px;
      width: 300px;
      border: 1px solid black
    }
    label {
      display: block
    }
  </style>
</head>
<body>
  <%= content %>
</body>
</html>

